Package: enet
Version: 1.3.18
Depends: vcpkg-cmake, vcpkg-cmake-config
Architecture: x64-windows
Multi-Arch: same
Abi: 1b1140e0ee8e3ad8b4cbf0a0f79b563505d85ee3d9a5748423c6af4f19f48a65
Description: Reliable UDP networking library
